{
  "tenant": {
    "tenancyMode": "single",
    "singleTenant" : {
      "id": "local-single-tenant-mode",
      "uaaServer": "https://d1730ade-7c0d-4652-8d44-cb563fcc1e27.predix-uaa.run.aws-usw02-pr.ice.predix.io",
      "uaaClientId": "webapp.496bb641-78b5-4a18-b1b7-fde29788db38.991e5c23-3e9c-4944-b08b-9e83ef0ab598",
      "uaaClientSecret": "mijzqlhrvji83e581krorb5aovbsa1s4a15ob",
      "configServiceHost": "http://localhost:3001",
      "route": "localhost",
      "contextPath": "",
      "serverURL": "http://localhost:3000",
      "customHeader": {
        "tenant": "7d1a5025-4d73-48a9-a40c-c093cff82e3c"
      }
    },
    "hubConfigService": "https://hubs-apphub-config-manager-dev.grc-apps.svc.ice.ge.com"
  },
  "config": {
    "name":"APM",
	"user": {
		"name": "Edison1879",
		"firstName": "Thomas",
		"lastName": "Edison",
		"uuid": "6e729d26-82d3-4a9c-a444-96947e232436",
		"active": true,
		"features": [
			"Edit Networks Api",
			"View Assets",
			"apm-default",
			"View Assets Api",
			"Browse Assets Api",
			"Edit Case Detail(DEV)",
			"Cases(DEV)",
			"Ingest Assets",
			"Process Analysis Evidence",
			"Analysis-Create-Public-Template",
			"Ingest Assets Api",
			"Filtering",
			"Analysis-Create",
			"Read Configuration",
			"Read Case Templates",
			"Class-Dashboard",
			"Setup SmartSignal Analytic",
			"Edit Access Control Resources",
			"Case Templates",
			"View Notes",
			"View Timeseries",
			"Configure Data Sources for Timeseries",
			"Manage Alerts",
			"View Analysis Evidence",
			"Alerts",
			"Alert Templates",
			"Help",
			"View Alert Detail",
			"Check Access Control Resources",
			"Link-To-Assets",
			"View Attachments",
			"Attachments",
			"Userpreferences",
			"Dashboard-View",
			"default",
			"Default-Dashboard-Class",
			"View Data Sources for Timeseries",
			"Read Notes",
			"Browse Assets",
			"Watch",
			"Basic group info",
			"Manage Notes",
			"Link-To-Cases",
			"Notes",
			"Read Access Control Resources",
			"Edit Notes",
			"Link-To-Alarms",
			"Widget-Repo-Super-Admin",
			"View Limited Visibility Alerts",
			"Dashboard-Update",
			"Manage Configuration",
			"Link-To-Analysis",
			"Edit Assets",
			"Widget-Repo-Admin",
			"Default-Dashboard-Instance",
			"Edit Attachments",
			"User Management Audit Log",
			"Add Timeseries",
			"Setup SmartSignal Hosts and Tenants",
			"Setup SmartSignal Evidence",
			"Dashboard-Create",
			"Asset Configuration Edit",
			"Edit Assets Api",
			"Analysis-View"
		],
		"roles": [
			"M&amp;D  Managerr"
		],
		"userInterfaceResources": [
			"ui_add_timeseries",
			"ui_create_notes",
			"ui_create_system_analysis",
			"ui_edit_notes",
			"ui_configure_datasources_timeseries",
			"ui_view_dashboard",
			"ui_view_evidence",
			"ui_view_datasources_timeseries",
			"ui_view_assets",
			"ui_alerts",
			"ui_create_analysis",
			"ui_ingest_assets",
			"ui_edit_assets",
			"ui_view_analysis",
			"ui_edit_case",
			"ui_delete_tags",
			"ui_process_analysis_evidence",
			"um_md_manager",
			"ui_link_asset",
			"ui_class_dashboard",
			"ui_edit_disposition",
			"ui_edit_tags",
			"ui_filtering",
			"ui_delete_notes",
			"ui_process_cases",
			"ui_default",
			"ui_default_dashboard_class",
			"ui_create_dashboard",
			"ui_update_dashboard",
			"ui_default_dashboard_instance",
			"ui_edit_alert_action",
			"ui_notes",
			"ui_read_configuration",
			"ui_create_evidence",
			"ui_view_limited_visibility_alerts",
			"widget_repo_admin",
			"ui_view_analysis_evidence",
			"ui_manage_configuration",
			"ui_view_case",
			"ui_browse_assets",
			"ui_link_analysis",
			"ui_create_alert",
			"widget_repo_super_admin",
			"ui_view_notes",
			"ui_profiles",
			"ui_view_timeseries",
			"ui_create_case",
			"ui_view_disposition",
			"ui_attachments"
		]
	},
	"preferences": {
	  "preferredLocale": "en-US",
	  "TimeZone": "Etc/GMT",
	  "SmartSignalMarkerConfigTenantPref": {},
	  "SmartSignalMarkerVisibilityUserPref": {}
	  },
    "apps":[
      {
        "id":"analysismicroapp3",
        "host":"http://localhost:9042",
        "path":"/analysisV3",
        "template":"/index.html",
        "navService":"/nav.json",
        "default": true
      },
      {
         "id":"analysismicroapp",
          "host":"https://apm-analysis-ui-rc.int-app.aws-usw02-pr.predix.io",
          "path":"/analysis",
          "template":"/index.html",
          "navService":"/nav/nav.json"
      },
      {
          "id":"Alerts",
          "host":"https://apm-alarms-v2-ui-rc.int-app.aws-usw02-pr.predix.io",
          "path":"/alerts",
          "template":"/index.html",
          "navService":"/nav/nav.json",
          "items":[
            {
              "label": "Alerts",
              "icon": "fa-warning",
              "path": "/alerts/#"
            }]
        }
    ]
  }
}
