<div class="header">
    <label>Analysis</label>
    <button
            class="header-button"
            (click)="openNewAdhocAnalysis()">Create New</button>
</div>
<div id="templateBrowser">
    <dx-data-grid
            id="templateBrowseGrid"
             class="tempBrowser"
            [dataSource]="templatesList"
            [showBorders]="true"
            [showColumnLines]="true"
            [showRowLines]="true">
        <dxo-paging [pageSize]="20"></dxo-paging>
        <dxo-pager
                [showPageSizeSelector]="true"
                [allowedPageSizes]="[20, 50, 100, 200]"
                [showInfo]="true">
        </dxo-pager>
        <dxo-filter-row
                [visible]="true"></dxo-filter-row>
        <dxo-header-filter
                [visible]="true"></dxo-header-filter>
        <dxo-search-panel
                [visible]="true"
                [width]="240"
                placeholder="Search Table"></dxo-search-panel>
        <dxi-column
                dataField="title"
                cellTemplate="cellTemplate"
                caption="Template Name">
        </dxi-column>
        <dxi-column
                dataField="id"
                caption="Template ID"></dxi-column>
        <dxi-column
                dataField="createdTimeStamp"
                caption="Created Date"></dxi-column>
        <dxi-column
                dataField="modifiedTimeStamp"
                caption="Updated Date"></dxi-column>
        <span *dxTemplate="let cell of 'cellTemplate'" (click)="onViewSelect(cell.data)" class="viewNameLink">{{ cell.value}}</span>
    </dx-data-grid>
</div>
